version: "3.8"
services:
  api:
    build:
      context: ./api
      dockerfile: Docker/Dockerfile
    container_name: conversor-api
    ports:
      - "8080:8080"
    networks:
      - app-net


  client:
    build:
      context: ./cliente
      dockerfile: Dockerfile
    container_name: conversor-client
    ports:
      - "8501:8501"
    depends_on:
      - api
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
